.footer {
    background-color: white;
    color: lightgrey;
    display: flex;
    justify-content: space-between;

    .footer-child {
        display: flex;
        align-items: center;
        cursor: pointer;

        a {
            margin-left: 5px;
            margin-right: 5px;
            text-decoration: none;
            color: lightgrey;

            &:hover {
                color: black;
            }
        }
    }

    img {
        object-fit: cover;
        width: 50px;
        margin-left: 40px;
        cursor: pointer;
    }
}