.footer {
    background-color: white;
    color: lightgrey;
    display: flex;
    justify-content: space-between;

    .footer-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;

        a {
            margin-left: 5px;
            margin-right: 5px;
            text-decoration: none;
            color: lightgrey;

            &:hover {
                color: black;
            }
        }
    }

    img {
        object-fit: cover;
        width: 50px;
        margin-left: 40px;
        cursor: pointer;
    }
}

@media (max-width: 775px) {
    .footer {
        .footer-child {
            a {
                font-size: 14px;
            }
        }

        img {
            width: 35px;
            margin-left: 20px;
        }
    }
}

@media (max-width: 550px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;

        .footer-child {
            a {
                margin-top: 15px;
            }
        }
    }
}


@media (max-width: 470px) {
    .footer {
        img {
            width: 30px;
        }
    }
}

@media (max-width: 420px) {
    .footer {
        .footer-child {
            a {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 370px) {
    .footer {
        .footer-child {
            a {
                font-size: 11px;
            }
        }

        img {
            width: 25px;
        }
    }
}