<div class="footer margin padding">
    <div class="footer-child">
        <a routerLink="/imprint">Imprint</a> - <a routerLink="/data-protection">Data protection</a>
    </div>
    <div>
        <a (click)="goToLink('https://www.linkedin.com/in/baris-aslan-4a088224a')"><img src="./../../assets/img/linkedin-box-fill.png"></a>
        <a (click)="goToLink('https://github.com/BarisBA')"><img src="./../../assets/img/github-fill.png"></a>
        <a (click)="goToLink('https://www.xing.com/profile/Baris_Aslan27/cv')"><img src="./../../assets/img/xing-fill.png"></a>
    </div>
</div>