<div class="bg1 padding  center" id="contact">
    <div #contactForm>
        <div *ngIf="showForm" class="contact-header">
            <div class="contactInput fadeIn">
                <h1>Contact me.</h1>
                <p class="getInTouchP">Get in touch via form below, or by emailing baris-aslan@outlook.de</p>
                <div>
                    <div class="fadeIn">
                        <form (submit)="sendMail()" ngNativeValidate #myForm>
                            <p>Name</p>
                            <input required type="text" name="name" placeholder="Enter your name" #nameField>
                            <p>Email address</p>
                            <input required type="email" name="email" placeholder="Enter your Email address" #mailField>
                            <p>Messsage</p>
                            <textarea required name="message" placeholder="Enter your message" #messageField></textarea>
                            <button type="submit" #sendButton>Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>