<div class="bg1 padding">
    <div class="contact-header" id="contact">
        <div class="contactInput">
            <h1>Contact me.</h1>
            <p class="getInTouchP">Get in touch via form below, or by emailing baris_aslan@gmx.de</p>
            <form action="https://baris-aslan.developerakademie.net/portfolio/dist/assets/send_mail/send_mail.php" method="POST">
                    <p>Name</p>
                    <input required type="text" name="name" placeholder="Enter your name">
                    <p>Email address</p>
                    <input required type="email" name="email" placeholder="Enter your Email address">
                    <p>Messsage</p> 
                    <textarea required name="message" placeholder="Enter your message"></textarea>
                    <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div> 