<div class="bg1 padding minHeight " id="workSection">
    <div #work>
        <div class="workTitle">
            <h1>MY work</h1>
            <div *ngIf="showWork" class="laguages fadeIn">
                <div>
                    <button (click)="showAllWork()">All</button>
                    <button (click)="showAngularWork()">Angular</button>
                    <button (click)="showJavascriptWork()">Javascript</button>
                </div>
            </div>
        </div>

        <ng-container *ngIf="showAll">
            <div *ngIf="showWork" class="screenshots-header fadeIn">
                <div *ngFor="let screenshot of screenshotsAll; let i = index" class="screenshots">
                    <div class="hoverEvent" (mouseenter)="hover[i] = true;" (mouseleave)="hover[i] = false;">
                        <div class="hoverEvent-child" id="workScreenshot">
                            <img src="assets/img/{{screenshotsAll[i]}}">
                        </div>
                        <div class=" center">
                            <div *ngIf="hover[i]" class="hoverEvent-child stack-top">
                                <div>
                                    <p>{{hoverTextAll[i]}} </p>
                                </div>
                                <div class="button">
                                    <button (click)="goToLink(i)">
                                        Try it!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div *ngIf="showAngular&&showWork" class="screenshots-header fadeIn">
            <div *ngFor="let screenshot of screenshotsAngular; let i = index" class="screenshots">
                <div class="hoverEvent" (mouseenter)="hover[i] = true;" (mouseleave)="hover[i] = false;">
                    <div class="hoverEvent-child" id="workScreenshot">
                        <img src="assets/img/{{screenshotsAngular[i]}}">
                    </div>
                    <div class=" center">
                        <div *ngIf="hover[i]" class="hoverEvent-child stack-top">
                            <div>
                                <p>{{hoverTextAngular[i]}} </p>
                            </div>
                            <div class="button">
                                <button (click)="goToLink(i)">
                                    Try it!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showJavascript&&showWork" class="screenshots-header fadeIn">
            <div *ngFor="let screenshot of screenshotsJavascript; let i = index" class="screenshots">
                <div class="hoverEvent" (mouseenter)="hover[i] = true;" (mouseleave)="hover[i] = false;">
                    <div class="hoverEvent-child" id="workScreenshot">
                        <img src="assets/img/{{screenshotsJavascript[i]}}">
                    </div>
                    <div class=" center">
                        <div *ngIf="hover[i]" class="hoverEvent-child stack-top">
                            <div>
                                <p>{{hoverTextJs[i]}} </p>
                            </div>
                            <div class="button">
                                <button (click)="goToLink(i)">
                                    Try it!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>