.workTitle {
    color: white;

    h1 {
        text-align: center;
    }

    .laguages {
        display: flex;
        justify-content: center;

        button {
            color: white;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100px;
            background-color: black;
            border-color: rgb(250, 39, 89);
            text-align: center;

            &:hover {
                background-color: rgb(250, 39, 89);
                cursor: pointer;
            }
        }
    }
}

.backgroundColor {
    background-color: rgb(250, 39, 89);
}

.screenshots-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .screenshots {
        display: flex;
        margin: 10px;
        
        img {
            object-fit: cover;
            width: 460px;
            height: 300px;
        }
    }
}