<div class="bg2">
    <div class="mySkills">
        <h1> MY Skills</h1>
    </div>

    <div id="skillSection"></div>

<!-- 
    <div class="skillSection-header">
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/java script.png">
                </div>
            </div>
            <p>Javascript</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/angular.png">
                </div>
            </div>
            <p>Angular</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/Group 205.png">
                </div>
            </div>
            <p> HTML / CSS</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/Group 226.png">
                </div>
            </div>
            <p>SCRUM</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/Git-Icon-1788C 2.png">
                </div>
            </div>
            <p>Git</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/Group 20.png">
                </div>
            </div>
            <p>Design Thinking</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/icons8-rest-api-80 2.png">
                </div>
            </div>
            <p>Rest API</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/icons8-test-lab-96 2.png">
                </div>
            </div>
            <p>Test</p>
        </div>
        <div class="skillSection">
            <div class="skillImg">
                <div class="skillImg-child">
                    <img src="./../../assets/img/icons8-database-52 2.png">
                </div>
            </div>
            <p>Databases</p>
        </div>
    </div>
    -->
</div>