<div class="bg2 padding  center">
    <div #skills>
        <div *ngIf="showSkills" class="mySkills fadeIn">
            <h1> MY Skills</h1>
        </div>

        <div>
            <div *ngIf="showSkills" class="skillSection-header">
                <div *ngFor="let image of images; let i = index" class="skillSection fadeIn" id="skills">
                    <div class="skillImg">
                        <div class="skillImg-child">
                            <img src="assets/img/{{images[i]}}">
                        </div>
                    </div>
                    <p>{{skillLanguages[i]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>