.mySkills {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.skillSection-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;


    .skillSection {
        margin-top: 70px;
        margin-left: 15px;
        margin-right: 15px;
        width: 150px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: white;
        border-radius: 8px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skillImg {
        display: flex;
        justify-content: center;

        img {
            object-fit: cover;
            width: 30px;
        }
    }

    .skillImg-child {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 2px 2px 2px ;
    }
}

@media (max-width: 550px) {
    .skillSection-header {
        .skillSection {
            width: 120px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 40px;
            margin-left: 8px;
            margin-right: 8px;
        }

        .skillImg {
            img {
                width: 25px;
            }
        }

        .skillImg-child {
            margin-top: -45px;
            width: 45px;
            height: 45px;
        }
    }
}

@media (max-width: 475px) {
    .skillSection-header {
        .skillSection {
            width: 105px;
            font-size: 13px;
        }
    }
}

@media (max-width: 425px) {
    .skillSection-header {
        .skillSection {
            width: 95px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 11px;
        }

        .skillImg {
            img {
                width: 20px;
            }
        }

        .skillImg-child {
            margin-top: -25px;
            width: 35px;
            height: 35px;
        }
    }
}

@media (max-width: 355px) {
    .skillSection-header {
        .skillSection {
            width: 90px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 11px;
        }

        .skillImg {
            img {
                width: 20px;
            }
        }

        .skillImg-child {
            margin-top: -25px;
            width: 35px;
            height: 35px;
        }
    }
}