<div class="bg1 padding minHeight">
    <div class="introduction margin">
        <div class="introduction-child">
            <p>
                Hi, <br>
                I´m Baris Aslan <br>
                Front End Developer
            </p>
        </div>

        <div class="introductionImg">
            <img src="assets/img/profile.jpg">
        </div>
    </div>
    
    <div class="padding">
         <a href="#contact" class="margin">Contact me</a>
    </div>
<!-- 
    <div class="arrow">
        <img src="./../../assets/img/arrow-down.png">
    </div>-->
</div>
