.introduction {
    color: white;
    display: flex;
    justify-content: space-between;

        p {
            font-size: 70px;
        }

    .introductionImg {
        display: flex;
        align-items: center;
    }

    img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    color: rgb(45, 252, 216);
    border-style: solid;
    border-color: rgb(45, 252, 216);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: rgb(45, 252, 216);
        color: black;
    }
}

.arrow {
    padding-top: 50px;
    display: flex;
    justify-content: center;

    img {
        width: 44px;
        object-fit: cover;
    }
}