.introduction {
    color: white;
    display: flex;
    justify-content: space-between;

        p {
            font-size: 70px;
        }

    .introductionImg {
        display: flex;
        align-items: center;
    }

    img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: black;
    color: rgb(45, 252, 216);
    border-color: rgb(45, 252, 216);
    cursor: pointer;
}

.arrow {
    padding-top: 50px;
    display: flex;
    justify-content: center;

    img {
        width: 44px;
        object-fit: cover;
    }
}