<div class="bg1 padding">
    <div class="introduction margin">
        <div class="introduction-child">
            <p>
                Hi, <br>
                I´m Baris Aslan <br>
                Front End Developer
            </p>
        </div>

        <div class="introductionImg">
            <img src="./../../assets/img/profile.png">
        </div>
    </div>

    <button class="margin">Contact me</button>

    <div class="arrow">
        <img src="./../../assets/img/arrow-down.png">
    </div>
</div>
