<div class='impressum bg2'>
    <div class="margin padding">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Baris Aslan <br>
            Münterweg 26<br>
            22115 Hamburg <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>
            Baris Aslan<br>
        </p>
        <p><strong>Kontakt:</strong> <br>
            E-Mail: <a href='mailto:baris7801@hotmail.de'>baris7801@hotmail.de</a><br></p>
        Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der
        <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
    </div>
</div>