/* width */
::-webkit-scrollbar {
    background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(45, 252, 216); 
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bg1 {
    background-color: black;
}

.bg2 {
    background-color: #1A1A1A;
}

.margin {
    margin-left: 100px;
    margin-right: 100px;
}

.padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.minHeight {
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
}

.fadeOut {
    animation: fadeInAnimation 1s ease-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@media (max-width: 620px) {
    .margin {
        margin-left: 40px;
        margin-right: 40px;
    }

    .minHeight {
        min-height: auto;
    }
}